[2016-06-02 06:19] ccronje opened #8 "NER demo problem (demo via OpenRefine instead?)"
I came across the following error (using Mac OS X) running `sed 's/\/O / /g' < gulliver_ner.txt > gulliver_ner-clean.txt`

"sed: RE error: illegal byte sequence"

Did others come across this problem? I think I need to use a binary sed but not sure.

Also, just wondering if it might be easier to demo NER in OpenRefine instead, with the NER extension? (see https://github.com/data-lessons/library-ope

[2016-06-03 00:24] weaverbel commented on #8
@ccronje Clinton is going to have a look

[2016-06-03 11:38] michielcock opened #9 "Proposed learning objective"
After completing this lesson, you can:

* explain what the Unix shell is and why it is useful
* use basic shell commands to work with directories and files
* use shell commands to count and mine your  data (both tabulated data and free text)

[2016-06-03 23:59] weaverbel opened #10 "Maintaining the lesson"
Happy to volunteer to maintain this - anyone else keen?

[2016-06-04 00:06] weaverbel commented on #9
Hi @michielcock - am going to propose something similar

After completing this lesson, you will be able to:

- understand the basics of the Unix shell
- understand why and how to use the command line
- use shell commands to work with directories and files
- use shell commands to find and manipulate data

[2016-07-06 16:54] jt14den commented on #10
I'd be happy to co-maintain.

[2016-07-11 06:54] drjwbaker commented on #10
@jt14den Splendid. Many thanks Tim.

[2016-07-11 06:54] #10 closed

[2016-07-12 11:49] ozej8y opened #11 "Data file used in example 2014-01_JA.tsv.zip is corrupted"
Hi,

I'm following through the exercises on shell as I'll be teaching it.
The material refers to the file 2014-01_JA.tsv.  (gh-pages branch in /data folder)
This file doesn't exist but the 2014-01_JA.tsv.zip does, however when I unzip it I'm getting the file "2014-01_JA.tsv.zip.cpgz" on my Mac. Something isn't correct with this file.

Thanks,
             Jay.

[2016-07-12 13:40] drjwbaker commented on #11
@ozej8y: Jay. Thanks for raising this issue. I confirm I can replicate the error on my Mac. The data was zipped on my Ubuntu machine (which I don't have around), so can someone else test extracting on Windows or Linux? Perhaps we should provide the file as a .rar or .7z. In the meantime, you don't need the data to get by as you can use the .tsv files in the derived data to work through the lessons

[2016-07-12 14:58] ostephens commented on #11
None of the files in /data look right - they all seem to have HTML content rather than tsv/txt content?

[2016-07-12 22:38] ozej8y commented on #11
I agree all the files contain HTML.

[2016-07-12 23:43] ccronje commented on #11
I found a copy 2014-01_JA.tsv.zip on my laptop - all looks ok - had trouble uploading to repo but here's a link to it https://drive.google.com/open?id=0B6x-DVqSAHitUG84dHpGZThVRlU

[2016-07-13 01:23] weaverbel commented on #11
Hi all Sorry for this - we need to get the raw data back into the data-lessons repos - I will try to tackle this soon - just up to me eyeballs after 2 days teaching a workshop. I am just directing anyone to https://github.com/LibraryCarpentry/week-two-library-carpentry/tree/master/lesson-materials/libcarp-wk2-data

[2016-07-13 01:28] ozej8y commented on #11
Thanks Belinda. I was just about to add the same comment. :)

[2016-07-13 08:53] drjwbaker commented on #11
Huh. Something odd happened there!

[2016-07-13 09:47] ostephens commented on #11
I've uploaded the correct data files now I think. Could someone confirm they work OK and if so then close this issue

[2016-07-13 09:47] ostephens commented on #11
NB you have to use the 'raw' format to download these

[2016-07-13 09:49] weaverbel commented on #11
Will give it a go now @ostephens - and thanks!

[2016-07-13 09:56] weaverbel commented on #11
@ostephens All good - opened the file in OR and it's the right data. Thanks for fixing ! So @ozej8y you can download it from here. @drjwbaker Your files are back !

[2016-07-13 09:57] ostephens commented on #11
Thanks @weaverbel. Closing

[2016-07-13 09:57] #11 closed

[2016-07-14 08:43] drjwbaker commented on #11
@ostephens @weaverbel Which file has been updated? This https://github.com/data-lessons/library-shell/blob/master/lesson-materials/libcarp-wk2-data/tabular/2014-01_JA.tsv.zip is dated 22 Sep 2015. Are we not using the master repos any longer (and if so perhaps need to flag that in some way?)

[2016-07-14 08:45] ostephens commented on #11
@drjwbaker only the gh-pages branch is being used now - this is the default branch for the repo I think. Ideally I think the Master should be removed at some point but from what I remember that isn't entirely straightforward

[2016-07-14 08:49] drjwbaker commented on #11
Okay. I'll take an action on all the repos to make a note in the readme that the master isn't the master...

[2016-07-30 03:39] jt14den commented on #8
Guys, I used the NER demo in the LC two weeks back at UCSD and the sed command ran clean. The whole NER demo worked and I definitely got positive feedback from it as a demo of what CLI can be used for. I'm wondering if the error above was because of corrupted data fixed with 34ad39344a60273febd1234885cbf8bb71a985d6?

[2016-08-02 09:40] #8 closed

[2016-08-02 09:40] drjwbaker commented on #8
The error above is separate from the NER demo though (it is the cleaning up text bit). Either way, a clear http://www.gutenberg.org/files/829/829-0.txt should fix it. I've replaced the file.

[2016-08-02 09:41] drjwbaker commented on #8
@jt14den: on the NER demo, I know it is a leap from the rest of the lesson, by I put it there precisely for the reason you describe: it articulates further uses of the shell.

[2016-08-04 10:57] weaverbel commented on #9
Learning objectives have been integrated into lessons so I am closing this issue.

[2016-08-04 10:57] #9 closed

[2016-12-08 01:25] ccronje opened #19 "Reference to iOS"
The iOS reference [in this episode](https://github.com/data-lessons/library-shell/blob/gh-pages/_episodes/01-intro-shell.md) may cause confusion. My understanding is that there is no way to use Terminal to access the iOS file system unless you jailbreak but you can use it to remotely SSH into another machine. Should iOS be changed to Mac OS?

[2016-12-08 01:58] ccronje opened #20 "I/O, redirection and pipes"
I think we should describe I/O, redirection and pipes before [the example](https://github.com/data-lessons/library-shell/blob/gh-pages/_episodes/01-intro-shell.md) `$ grep 2009 2014-01_JA.tsv | grep INTERNATIONAL | awk -F'\t' '{print $5}' | sort | uniq -c`. It would provide context and reinforce the Unix philosophy of small programs which perform a specific task - building blocks to design the wor

[2016-12-08 02:20] ccronje opened #21 "Wording re: "false positives""
A suggestion for [this episode](https://github.com/ccronje/library-shell/blob/gh-pages/_episodes/01-intro-shell.md) - change:

to

[2016-12-08 12:22] drjwbaker commented on #19
Good spot. Fixed.

[2016-12-08 12:22] #19 closed

[2016-12-08 12:26] drjwbaker commented on #20
Hmm. I was thinking about this yesterday when I taught the shell lesson for the first time in over a year! I use this here because my narrative is: by the end of the session you'll feel comfortable describing what is going on here. I know that SWC avoids "big bang" openings such as this, but I like it as it a) offers a clear use case for the shell b) offers a sense of direction and learning outcom

[2016-12-08 12:29] drjwbaker commented on #21
For me returning the whole line is what we are trying to achieve! with tabular data! The false positives are places were `INTERNATIONAL` isn't in the journal column (I don't specify a column in the opening bit because I'm trying to get across the idea that your code doesn't need to be perfect, that in the first instance is better sometimes to get a sense of the output before refining it)

[2016-12-13 11:07] ccronje commented on #20
Well done at DST4L! I agree with your reasons - it does help to see the potential. It's a great example to illustrate the the concept of piping input and output. The memory side of things gets a bit complicated https://brandonwamboldt.ca/how-linux-pipes-work-under-the-hood-1518/

[2016-12-13 11:12] ccronje commented on #21
Yes, ok let's keep the wording as is.

[2016-12-13 11:12] #21 closed

[2016-12-13 21:57] weaverbel commented on #20
@drjwbaker I agree - I like to give people something 'aspirational' - dread word - to inspire them. It helps if you can show them something that will be amazing. I also demo the name counts from Little Women - the speed with which the shell returns the answer always gets them in ...

[2016-12-14 08:33] drjwbaker commented on #20
@weaverbel Can you sketch out the Little Women example please (when you get a minute!) so we can work it up as an alternative pathway through the lesson?

[2016-12-14 09:09] weaverbel commented on #20
sure thing @drjwbaker - it's just a word count thing (using a loop) but it impresses people as it's so fast and people think "I could look for the number of times a politician says X in a speech' and other uses. Just in the absolute thick of prepping for Software Carpentry instructor training which concludes tomorrow afternoon and then I can look at it. I promised it to @ccronje too and am conscio

[2016-12-14 09:17] weaverbel commented on #20
@drjwbaker @ccronje
Found it on an etherpad:

For loop:

    for name in "Jo" "Meg" "Amy" "Beth"; do echo $name; grep $name littlew.txt  | wc -w; done

    Get the file here:
        http://www.gutenberg.org/cache/epub/514/pg514.txt and Save As littlew.txt (or you will need to change the filename in your loop)

There would be other ways of doing this - this was just one way. It would need to be re

[2017-01-12 02:40] richyvk opened #25 "Logic error in first example"
Hi all

Finally getting round to working through the LC courses for myself. Unless I'm totally dumb there si a problem with the first example:

`$ grep 2009 2014-01_JA.tsv | grep INTERNATIONAL | awk -F'\t' '{print $5}' | sort | uniq -c`

We state that this finds "the number of articles published in 2009 in academic journals whose title contains the word ‘International".

I know this is then qualif

[2017-01-17 11:30] drjwbaker commented on #25
I'm aware it isn't a perfect example. My idea was to introduce three things here as a taster:

1) something powerful that looks hard but will be achievable by the end of the lesson
2) something that isn't a perfect solution but does a job, which is often as useful as perfection when writing code
3) something that prompts people to think how important it is to know your data. Here 'INTERNATIONAL' i

[2017-01-25 02:09] richyvk commented on #25
Hi James

Good to put a face to the name last night. I Agree with all this. But, yes, I might have a look at it a bit, once ResBaz and various other things are done.

I do think it would be really good if we could record some example LC workshops, like they have on the SC site - that would really help people like me see how the existing members teach - rather than just working blind through the le

[2017-01-26 16:53] drjwbaker commented on #25
@richyvk Agreed! Good to chat.

Which examples on the SWC site do you mean?

[2017-02-13 21:00] danmichaelo commented on #20
While I do think it's important to say some inspiring words about *why* we're learning to use the shell in the beginning, I'm afraid such a complex example will be anything but scary to many newcomers. They might even think that it's *normal* having to write such long commands when working in the shell! ("How can I *ever* remember all of this?")

Also, my experience is that participants completely

[2017-02-14 15:47] drjwbaker commented on #20
Okay. I'm happy to concede this one (I know, for example, that SWC dislikes similar flash bang openings). I guess I'm just keen to keep people onside who are learning cd, mv, ls, et cetera - the bit at the beginning which I'm pretty sure is boring.. - and I wondering why bother, why am I here, what am I going to get out of all this. In the other teaching I do (undergraduate history and art history

[2017-02-15 00:11] weaverbel commented on #20
I am with @drjwbaker here. I have just taught a Software Carpentry Python class for Brisbane Resbaz and I think both shell and Python AND Git would have benefited from an initial, early 'this will save you time/make things more efficient/isn't this awesome' moment? If we are going to lead people into the promised land, we need an early sighting of *some* milk and honey before they start to trudge

[2017-02-15 08:43] drjwbaker commented on #20
So as a compromise does this..

..work for you @weaverbel?

[2017-02-15 21:52] weaverbel commented on #20
Yes, that should be fine @drjwbaker (and I guess there is always leeway for people to do that anyway).

[2017-05-04 23:10] drjwbaker opened #27 "Add a faded example?"
Right. I'm in instructor training. I'm thinking we could build in a faded example (given that instructor training introduces it but SWC/DC/LC doesn't use it!!!). So, for example:

## Learning Objective: understand how commands work; understand how to use pipes

Count the total lines in every tsv file. Sort. Print the first line of the file.

In all csv files in a directory count the words for each

[2017-05-04 23:10] drjwbaker commented on #27
cc @jt14den

[2017-05-05 02:57] weaverbel commented on #27
Great idea @drjwbaker - I think testing understanding is a great way to go. I am +1. What about you @jt14den ?

[2017-05-05 14:57] jt14den commented on #27
+1 for me too, great idea!

[2017-05-05 19:51] drjwbaker opened #28 "Add brief bit on the structure of a bash command"
Suggestions from Jamie @jamieviva that we add something on the general structure of bash. So, something like:

Then explain structure of what happens thereafter, so:

It probably should do somewhere in https://github.com/data-lessons/library-shell/blob/gh-pages/_episodes/01-intro-shell.md not before doing work in the shell, but as a "look at what you've also learned!" outcome.

Thoughts?

[2017-05-05 20:21] weaverbel commented on #28
I might have a crack at this. It might be good to diagram it with call-out text on each segment as a picture is worth 1,000 ...

[2017-05-05 21:31] jamieviva commented on #28
@weaverbel that's exactly what I envisioned - something like an 'anatomy of a DOI' or 'anatomy of URL diagram,' [maybe like this](https://lh4.googleusercontent.com/-Lx69aIsa078/TXuNzpIGRbI/AAAAAAAAACw/95JWAs_yYsw/s1600/URL.png)?

[2017-05-06 03:57] weaverbel commented on #28
On it

[2017-05-07 14:17] kekoziar opened #29 "Counting and mining with the shell: Learning Objectives"
Learning Objectives should not use the word "understand."
Suggest changing objectives as follows:
Understand how to count lines, words, and characters with the shell
-- Demonstrate counting lines, words, and characters with the shell command wc and appropriate flags
Understand how to mine files and extract matched lines with the shell
-- use regular expressions to mine files and extract matched li

[2017-05-08 09:45] drjwbaker commented on #29
Many thanks for this. I've made changes at https://github.com/data-lessons/library-shell/commit/f8f6f14c518f45b8126e7a72612d4abcacd4511d On 'use' (and to a lesser extent 'create'), I am curious about whether this is seen - in learning objective writing land - as a bit passive. For example, a learner could well use a command to do something at a workshop, but they could be just copying and pasting

[2017-05-08 09:56] drjwbaker commented on #27
Do you want me to implement this, or shall I leave with you maintainers?

[2017-05-08 10:22] ostephens commented on #29
I think this [document on writing learning objectives from the University of Nottingham](https://www.nottingham.ac.uk/teaching/documents/guidance/lo-guidance.pdf) is a good clear guide to writing learning objectives and it suggests some example verbs to define the understanding at different levels. For example "Apply" or "Solve" might be an alternative to 'use' to indicate the learner is able to g

[2017-05-08 10:26] drjwbaker commented on #29
Thanks @ostephens. I like apply. For context, this came up at the Instructor Training last week. I suspect we *should* be using the relevant part of that https://swcarpentry.github.io/instructor-training/19-lessons/ as I guide, unless we think they aren't fit for purpose!

[2017-05-08 15:16] jt14den commented on #27
@drjwbaker I can do it, but might not be till tomorrow or Wed

[2017-05-10 06:54] drjwbaker commented on #27
No hurry!

[2017-05-12 00:35] jt14den commented on #27
@drjwbaker and @weaverbel Realized just now I don't have write access to this repo! Not a very good maintainer have I been :(

[2017-05-12 11:07] drjwbaker commented on #27
@jt14den And I can't invite people to the edit team... @weaverbel @tracykteal @mkuzak all can I think. We really should sort this out!

[2017-05-12 13:13] tracykteal commented on #27
@drjwbaker you have admin access to this repo, so not sure why it didn't work. I added @jt14den to this repo specifically and also the library team, so should be set now though!

[2017-05-12 13:58] weaverbel commented on #27
@drjwbaker @jt14den I just merged it so if you want to make the changes @danmichaelo suggested, go ahead, and then I will merge it again.

[2017-05-23 10:32] ccronje opened #32 "Improve lesson objectives"
Improve the lesson/learning objectives in the Overview box at the top of each episode e.g. http://data-lessons.github.io/library-shell/01-intro-shell/, http://data-lessons.github.io/library-shell/03-free-text/.

Please see Writing Learning Objectives http://swcarpentry.github.io/instructor-training/19-lessons/.

[2017-05-25 15:53] drjwbaker commented on #32
Refer to https://github.com/data-lessons/library-shell/issues/29 when working on this.

[2017-05-25 15:53] drjwbaker commented on #29
Closed as this thread will be reference for the mozsprint on the lesson objectives https://github.com/data-lessons/library-shell/issues/32

[2017-05-25 15:53] #29 closed

[2017-05-25 15:55] drjwbaker commented on #27
Is this done?

[2017-05-25 15:56] drjwbaker commented on #25
Think we can close this now. @richyvk: reopen if you aren't happy!

[2017-05-25 15:56] #25 closed

[2017-05-25 15:57] drjwbaker commented on #20
Superseded so closing.

[2017-05-25 15:57] #20 closed

[2017-05-26 02:29] jt14den commented on #27
@drjwbaker this is done. I want to change some wording on the example, but can under a different PR.

[2017-05-26 02:29] #27 closed

[2017-06-01 02:57] jduckles commented on #28
There is an opportunity in this diagram to point out that what we call a Command Line Environment or Shell is really just big words for saying you're stuck inside of an unending: Read / Evaluate / Print loop.

The shell is waiting (VERY patiently) for you to type something (READ), it echoes that back to you and then when you finally sculpt the incantation the way you like, you hit <enter> (EVALUAT

[2017-06-01 06:19] icecjan opened #33 "errors in 02-counting-mining.md?"
When using the Shell lesson material, we found a couple of errors. Not sure if we misunderstood, please review.

1. Under "CSV and TSV Files":

Finally we have our old friend head, that we can use to get the first line of the sorted-lengths.txt:

$ head sorted-lengths.txt
     5375 2014-02-02_JA-britain.tsv

We found that the code didn't give us the first line of the sorted-lengths.txt, should it

[2017-06-01 10:52] drjwbaker commented on #28
@jduckles This is a really good point. I stress the structure of commands and Read / Evaluate / Print (though not in those exact terms!) a lot.

[2017-06-01 12:56] drjwbaker opened #34 "Handout"
Dear Maintainers @jt14den @weaverbel - I have added a handout at http://data-lessons.github.io/library-shell/reference/ and notes on how to make a handout at http://data-lessons.github.io/library-shell/guide/. Do with the former what you will. The latter I'd like to make consistent across lessons with handouts, so feedback appreciated. Ta!

[2017-06-01 13:01] drjwbaker commented on #33
@icecjan Thanks for your help!

1. I have fixed

2. What is you setup? `grep -E '\d{4}-\d{4}' 2014-01_JA.tsv` works on mac. I suspect this is an operating system cross compatibility issue?

[2017-06-01 13:51] alexandermendes opened #35 "Fix missing datasets for 01 and 02"
`2014-01_JA.tsv` seems to be missing from the `/data` folder, so we probably need to put this back. In any case the intro text needs to be updated to account for the new datasets. Will submit a PR soon.

[2017-06-01 13:53] alexandermendes commented on #35
This probably also explains https://github.com/data-lessons/library-shell/issues/33

[2017-06-01 13:57] drjwbaker commented on #35
File is in the zip.

[2017-06-01 13:57] drjwbaker commented on #35
(which is the data download at http://data-lessons.github.io/library-shell/)

[2017-06-01 14:39] danmichaelo commented on #33
Hm, I though `-E` was pretty safe. Tested on Windows (using Git Bash), Mac and Centos. What OS are you on, @icecjan ? Did you get an error message like "Invalid argument" or erroneous output?

[2017-06-01 14:40] drjwbaker commented on #33
@danmichaelo My thoughts exactly. @icecjan is AUS based so - I hope! - is sleeping, so we'll find out in the morning I guess!

[2017-06-01 17:43] alexandermendes commented on #35
Ok, closing this as I didn't realise that the file wasn't there as it's over 100MB

[2017-06-01 17:43] #35 closed

[2017-06-01 17:49] JohnBorghi opened #37 "Why use the shell?"
I think it would be helpful if there was a more librarian/archivist description of why it is useful to know how to navigate the shell. I think the current description is good but, speaking as someone who does not do a lot of their own programming, the current description doesn't really speak to why it is important for someone like me to know the shell.

Instead of "The motivations for wanting to l

[2017-06-01 18:08] cmacdonell commented on #37
I like the suggestion. Do you want to create a PR for this change?

[2017-06-01 18:19] JohnBorghi commented on #37
Will do!

[2017-06-01 18:30] drjwbaker commented on #37
Good idea. But don't lead with the 'working with researcher' angle. It doesn't play across out attendee cohort. As an OT, this is very much the space for the instructor to inject a sense of motivation that comes from them, which we could usefully add to the Instructor Notes http://data-lessons.github.io/library-shell/guide/

[2017-06-01 18:43] JohnBorghi commented on #37
I hear you. The examples I gave were just off the top of my head. I think I'll just take out the second sentence for now. If anyone has suggestions about providing specific examples (or leaving that up to the instructor), that's fine by me.

[2017-06-01 18:48] cmacdonell commented on #37
This guide has the following

[code]

[2017-06-01 22:11] danmichaelo commented on #37
One more reason:

    - To be able to run (cool) programs that can only be run from the shell.

This is closely connected to understanding the structure of a command (#28).

I was very happy when I could get some of my colleagues to use my [tool for batch editing subject headings in Alma](https://github.com/scriptotek/lokar) after we did the shell lesson here :)

[2017-06-02 02:18] icecjan commented on #33
@danmichaelo @drjwbaker yes, was sleeping :)
We ran our session at a computer lab so all computers have the same setup. We're on Windows using Git Bash. Didn't get an error message but no output.

[2017-06-02 04:47] jt14den commented on #34
Thanks @drjwbaker -- I like having some way to create handouts. I wonder if we could ask @rgaiacs what it would take to support using regex syntax in the key points yaml (you mentioned on the sprint handoff that this was a barrier using that mechanism to populate a handout *in toto*). If this isn't possible, having some guide for generating a handout is a good choice. One comment about the "instru

[2017-06-02 07:14] drjwbaker commented on #33
@icecjan Which version of Windows? (sorry to be pedantic, it just helps us troubleshoot and to provide good quality instructor notes)

[2017-06-02 07:16] drjwbaker commented on #34
@jt14den Thanks.

Agreed on instructor notes. We aren't using these well at present.

[2017-06-02 07:58] icecjan commented on #33
@drjwbaker No problem at all. My computer (used by the instructor) is on Windows 7. Other computers in the lab are running Windows 10.

[2017-06-02 10:55] drjwbaker opened #39 "Review learning outcomes"
Ensure in line with Bloom's taxonomy at http://swcarpentry.github.io/instructor-training/19-lessons/

[2017-06-02 11:41] danmichaelo commented on #33
@icecjan : Is the lab easy for you to reach? If so, it would be very useful to have the output from `grep --version` and `grep --help` (to get copy/paste to work in Git Bash at Windows 7, see https://github.com/swcarpentry/workshop-template/wiki/Configuration-Problems-and-Solutions)

Here's what it looks like for me at Windows 7 with Git Bash:

[code]

[code]

[2017-06-02 12:12] danmichaelo commented on #33
We could replace `\d` with `[0-9]`, but there is another problem. The `grep` included with Git Bash doesn't have the `-o` flag (wonder why I didn't see this before...):

[code]

[2017-06-02 12:26] drjwbaker commented on #33
@danmichaelo Excellent investigating. I vote that we say something like: for some Windows users you may encounter an error using `-E`. If so, try `-P`
Is that okay?

[2017-06-02 12:28] rgaiacs commented on #34
The instructions on http://data-lessons.github.io/library-shell/guide/ are

If I understand correct, you only want to print http://data-lessons.github.io/library-shell/reference/. For this, considering you have a PDF "emulator" printer---most GNU/Linux distribution has one by default---you can generate the PDF direct from the browser. [Shell Lessons for Librarians_ Reference.pdf](https://github.co

[2017-06-02 12:35] drjwbaker commented on #34
@rgaiacs Thanks for your comments. Two things:

1) We don't want the keypoints on the handout
2) The formatting of the handout is horrible. Pandoc is much more elegant in my experience, not least as the text is better and the borders larger (long thin lines don't make good handouts!)

[2017-06-02 12:41] danmichaelo commented on #33
That could work, but it's harder to work around the missing `-o` flag... Right now, we say

    We include the -o flag to print only the matching part of the lines e.g.
    (handy for isolating/checking results):

We also have an exercise using it ("Finding unique values").

[2017-06-02 12:46] drjwbaker commented on #33
For now, we can a) flag all those parts as not for windows users and b) add an instructor note stating not to use the commands for now. We may need to remove them if we can't figure out a cross platform solution.

It is SUPER weird git bash has no `-o`. But I wonder if new fancy bash in Windows 10 does. Presuming so and the fact that lots of people are moving to 10, we may be okay.

[2017-06-02 13:10] rgaiacs commented on #34
So by handout you mean the cheat sheet. :-) I think that now we are on the same page.

Despite my desire to not use Javascript, we could have a [Javascript powered](https://stackoverflow.com/a/14964060/1802726) button to remove the keypoints and call the printer.

I know. This is because my CSS skills are very poor. Anyone with better CSS skills and time (or money to hire a CSS wizard) could solve

[2017-06-02 13:13] drjwbaker commented on #34
I do. Excellent.

Fine. Not criticizing you! Can't we just use the pandoc/dillinger options for now until we have time/space to construct a more elegant solution?

[2017-06-02 13:15] drjwbaker commented on #34
Let's have this discussion at https://github.com/data-lessons/librarycarpentry/issues/30 as it is a bigger issue!

[2017-06-02 13:15] #34 closed

[2017-06-02 13:22] #39 closed

[2017-06-02 13:32] drjwbaker commented on #33
Fixed https://github.com/data-lessons/library-shell/commit/7b655e45eae4b17718c1da58d9b445e8f367974d

[2017-06-02 13:32] #33 closed

[2017-06-02 13:48] saschel opened #41 "Setup is not clear enough"
For non technical persons, it's not clear what they should do i.e.  'open a terminal'

[2017-06-04 02:57] jt14den commented on #41
I agree! The setup file was copied verbatim over from https://swcarpentry.github.io/shell-novice/setup/.  Maybe we can adapt something from Data Carpentry http://www.datacarpentry.org/shell-genomics/lessons/01_the_filesystem.html#how-to-access-the-shell? @saschel would you be willing to come up with some language or a pull request for this?

[2017-06-04 03:09] jt14den commented on #37
@cmacdonell  @danmichaelo & @drjwbaker I merged @JohnBorghi's suggestion on https://github.com/data-lessons/library-shell/pull/38. I'm going to close this issue, but feel free to make another PR for the guide or `01-intro-shell.md` with more shell usage justifications and I'll merge.

[2017-06-04 03:09] #37 closed

[2017-06-05 10:19] weaverbel commented on #28
Still haven't got to this - travel and then the sprint intervened. If anyone can have a crack, go for it, though I will eventually do it - just trying to do post-sprint tidy-up first.

[2017-06-06 15:08] drjwbaker opened #44 "Handout"
Once workflow for building handouts at https://github.com/data-lessons/librarycarpentry/issues/30 is resolved, delete cheat sheet material from http://data-lessons.github.io/library-shell/reference/

[2017-06-06 15:10] drjwbaker commented on #44
Oh, and fix 'Making a Handout' instructions at https://github.com/data-lessons/library-shell/blob/gh-pages/_extras/guide.md whilst you are there :)

[2017-06-20 08:29] drjwbaker opened #45 "Add authors to AUTHORS file"
We now have a workflow for releasing citable versions of our lessons (with DOIs) every 6 months via Zenodo. This makes our more discoverable and sustainable and ensures that everyone involved gets the credit they deserve. For more on this work see https://github.com/data-lessons/librarycarpentry/issues/5

In order to make this happen we need to make one crucial change: all AUTHORS files need to ch

[2017-07-18 07:51] drjwbaker commented on #41
Further to @jt14den and @weaverbel, this lesson appears to have lost all reference to Windows users needing to install Git Bash. Shouldn't this be here http://data-lessons.github.io/library-shell/setup/ ?

[2017-07-18 18:03] evanwill commented on #41
Software Carpentry has the setup done separately from the lesson, with the idea that participants do setup once before the 2 day workshop. So rather than having the setup steps in the lesson, they are in the [workshop-template](https://github.com/swcarpentry/workshop-template) repository, which creates a website for a specific SWC 2 day workshop, like http://swcarpentry.github.io/workshop-template

[2017-07-18 18:13] evanwill commented on #41
There is a few discussions about how to handle windows set up ([here](https://github.com/carpentries/conversations/issues/11)), and people have tried a few alternatives the Git Bash or the SWC Windows Installer:

[Cmder](http://cmder.net/) (complete install comes with Git Bash, but is fully portable, so you could configure it in advance and have everyone download your copy)

[Cygwin](https://githu

[2017-07-19 09:42] drjwbaker commented on #41
Thanks @evanwill. My memory is that we lost this in the sprint, but haven't moved fully to a generic pre-workshop setup doc to accommodate. For consistency with the Refine lesson http://data-lessons.github.io/library-openrefine/ I feel we should have the install here. Maintainers, could you take a look please?

[2017-07-19 19:04] evanwill commented on #41
Maybe the setup notes you are thinking of are the ones at the end of the [guide.md](https://github.com/data-lessons/library-shell/blob/gh-pages/_extras/guide.md) in this lesson?

[2017-07-19 19:51] evanwill commented on #41
I am making a PR #51 that I think addresses this issue.

[2017-07-20 10:13] #41 closed

[2017-07-27 08:39] drjwbaker opened #53 "Backup when shell not working"
Sometimes shell doesn't work on an attendees laptop: it is installed incorrectly, they've installed the wrong thing, it just unfathomably doesn't work.

Now, peer programming is great from a pedagogical point of view, so "work with someone else" is a good option. But prompted by @weaverbel, we should consider adding a backup to our Instructor Notes.

The suggestion is to recommend https://www.pyth

[2017-08-01 07:38] drjwbaker commented on #44
Maintainers @weaverbel @jt14den: I'm running a LC workhop in Padua with @danmichaelo in 14-15 September. They asked if we can get the handouts for the lessons in place so they can translate them for the workshop (they want to translate the handouts only, not the lessons!). This is one of the lessons we'll use. Any chance you could take a look and confirm it is good to go this week? (w/c 31 July) I

[2017-08-01 10:21] weaverbel commented on #44
I actually created a manual handout for my Adelaide workshop - will email it to you @drjwbaker . Also the PRs have an x next to them - should I review and merge or not?

[2017-08-01 10:39] weaverbel commented on #44
All the PRs that are outstanding fail the Travis CI build because of a missing .yaml. I have asked @rgaiacs as he might know what to do. I amended three of them myself because I thought it might be rogue formatting like smart quotes but it is the .yaml. I have been able to update files so it is something at @drjwbaker's end I think. Are you pushing from command line, or through Web?

[2017-08-01 11:20] rgaiacs commented on #44
@weaverbel as I mentioned, the pull request is failing because you don't have a `.travis.yml` file. You need to create it or disable it. I don't know what are you trying to check with Travis.

[2017-08-03 06:47] drjwbaker commented on #44
I don't know what Travis is :|

[2017-08-03 07:17] rgaiacs commented on #44
https://travis-ci.org/ is a continuous integration service.

[2017-08-03 21:31] weaverbel commented on #44
I have never had problems with a Travis CI build so I think it is something
on James's local Jekyll set up maybe?

Belinda Weaver
Community Development Lead
Software and Data Carpentry
e: bweaver@carpentries.org | p: +61 408 841 882 | t: @cloudaus

On Thu, Aug 3, 2017 at 5:17 PM, Raniere Silva <notifications@github.com>
wrote:

[2017-08-04 07:12] drjwbaker commented on #44
Weird. Pretty sure I was just editing via GitHub..

[2017-08-04 09:21] rgaiacs commented on #44
This is a configuration on GitHub Settings. You can go to Settings, Integration & Services to disable it.

![screencapture-github-rgaiacs-swc-workshop-template-settings-installations-1501838392129](https://user-images.githubusercontent.com/1506457/28962769-acebb3f8-78fe-11e7-84fd-721397e7c9be.png)

[2017-08-04 10:50] drjwbaker commented on #44
Thanks @rgaiacs. Do you want to remove this maintainers?

[2017-08-04 23:20] weaverbel commented on #44
Yes, let's get rid of it. Jekyll is finicky enough - let's not complicate things further.

[2017-08-05 10:24] drjwbaker commented on #44
Done.

[2017-08-07 10:05] drjwbaker commented on #44
So can we merge the PRs here despite the Travis failures?

[2017-08-07 10:25] drjwbaker commented on #44
Just spotted that we just undid something we did in the sprint.. https://github.com/data-lessons/librarycarpentry/issues/38

[2017-08-23 14:48] msarahan commented on #41
@evanwill this comment is far too late to be useful, but I wanted to point out that conda is not strictly for Python.  It is historically Python-centric, but you can install R, perl, low-level system depednencies, and pretty much anything else with conda, too.  On windows, conda provides several MSYS2 packages that make life better, such as mintty.  It is much closer to cygwin than it is a "python

[2017-10-02 12:03] timdennis14 opened #56 "Episode 1 misspelling of explorer"
**3/4 down** the page there's a misspelling of explorer [link to guidlines](http://www.guidelines-foo.com)

@jt14den  please fix.

[2017-10-02 12:04] timdennis14 commented on #56
Tim you can't spell, please assign to someone else.

[2017-10-02 18:41] #56 closed

[2018-01-12 12:15] gcapes opened #58 "Wrong command to open file browser on Linux"
`open .` doesn't work on Linux Mint. See [here](https://ubuntuforums.org/showthread.php?t=2124061) for solution.

[2018-01-12 12:21] gcapes opened #60 "For loop figure file is missing"
In episode 1 (at the end) there is a missing image to explain loops.
@weaverbel
I think you intended to commit this file, but overlooked it?
Thanks

[2018-01-12 12:35] gcapes opened #61 "Redirection introduced with little explanation"
The callout `Same Symbols, Different Meanings` introduces redirection without really explaining it.

[2018-01-12 14:22] gcapes opened #63 "Some links are not clickable"
Hyperlinks for the book text, and references to other episodes aren't clickable.

[2018-01-12 14:52] gcapes opened #65 "Word frequencies not sorted numerically"
Results for Gulliver's text are sorted alphabetically rather than numerically.

[2018-01-12 15:15] gcapes opened #67 "Why is there punctuation left in the cleaned file?"
Re: Episode 3, end of option 1

From [this](http://www.regular-expressions.info/posixbrackets.html) it seems that all punctuation should have been removed. So what's the reason?

[2018-01-12 15:17] gcapes opened #68 "References to non-existent `data` directory"
Episode 3 refers to the data directory for the examples.
I think these are possibly historical left overs from the shell-novice lesson?

[2018-01-12 16:50] gcapes opened #70 "Unused files in data directory"
There are two files in the data directory which are not used in the lesson:

`callnumbers.txt  pdflist.txt`

Great that they're not in the downloadable zip file, but maintenance of the lesson would be easier if they were removed from the repository(?)

[2018-01-16 15:02] gcapes opened #72 "Loops need explaining"
A loop is demonstrated at the end of episode 2, but without very much explanation. I'll submit a PR giving  a brief outline of the concepts:
- loops are used to repeat a command for each thing in a list
- the loop variable takes on a new value on each iteration through the list
- access variable's value using $variable

[2018-01-17 15:23] gcapes commented on #72
Closed - see #73

[2018-01-17 15:23] #72 closed

[2018-01-17 15:55] gcapes opened #74 "For loop example output is wrong"
In episode 1, there are already .txt files in the shell-lesson directory. The current example will select those too.
I'm putting in a PR where the files we create with `touch` are .doc instead. Seemed like the easiest way to sidestep the issue.

[2018-01-18 05:58] #63 closed

[2018-01-18 05:59] #68 closed

[2018-01-18 05:59] #70 closed

[2018-01-18 06:00] #65 closed

[2018-01-18 06:01] #60 closed

[2018-01-18 06:03] #61 closed

[2018-01-18 07:58] gcapes commented on #60
I referenced the wrong issue in 3618441 -- sorry! So this figure is still missing. @weaverbel

[2018-01-18 10:37] gcapes commented on #58
Fixed in #59

[2018-01-18 10:37] #58 closed

[2018-01-18 10:41] gcapes opened #76 "No exercises on loops"
There are two loops in this course, but they're just demonstrations.
I think it would be useful to have a faded example of a loop to reinforce the syntax / keywords, and how to access the value of a variable.

[2018-01-18 23:40] #74 closed

[2018-01-18 23:40] #76 closed

[2018-01-19 14:46] mawds opened #80 "Extended vs Perl regular expressions in episode 2"
In episode 2, some of the exercises use extended (`-E`) regular expressions.   As far as I can tell, Perl compatible regular expressions (`-P`) are more powerful (see, e.g. https://www.regular-expressions.info/posix.html).

Is there any reason for using `-E` rather than `-P`?

Extended regular expressions don't support `\d` to match digits (tested on GNU grep 3.1) so the first solution to "Searchi

[2018-01-20 22:52] danmichaelo commented on #80
Probably because `-P` is not available in BSD grep (as found on e.g. Macs). And funnily enough, BSD grep *does* support `\d` with `-E`.. so the best cross-platform solution is probably ranges. Or keep the two solutions, but explain better.

In any case, the exercise requires knowledge of something that hasn't been teached (`\d` or `[0-9]`) afaics, so I wonder if it would be good to provide a hint.

[2018-01-22 00:57] weaverbel commented on #80
@mawds We don't go into Perl at all, and I don't see us going there either so I would rather use terms that are comptaible with the shell, which we are teaching.

[2018-01-22 08:32] mawds commented on #80
Thanks @danmichaelo . I didn't  realise it was so different on the Mac!

Character classes are already covered.  Extending this to include ranges might be a way of covering the material needed for the exercise?  Let me know if you'd like me to submit a PR doing this.

[2018-01-22 20:29] gcapes opened #81 "Filenames not explained"
Episode 2 uses grep to process a file, and save the results in another file `results/2016-07-19_JAi-revolution.tsv`.
What is the significance of this date? It's different to that contained in the original file name.

[2018-01-23 12:12] gcapes opened #82 "LittleWomen example gives incorrect answers"
See [Software Carpentry lesson ](https://swcarpentry.github.io/shell-novice/07-find/) for comparison.

[2018-01-23 22:50] weaverbel commented on #82
What is the wrong with the example in this lesson? It always works for me in workshops @gcapes

[2018-01-24 08:28] gcapes commented on #82
It gives the wrong answers ;) Compare against the linked example.
In the library example:
`grep $name littlewomen.txt | wc -w`
grep returns the lines containing a match to $name, and wc counts the number of words in those lines.
We want to count the number of times $name occurs. PR #83 does this.

[2018-05-11 19:07] jcoliver commented on #81
Should be resolved by LibraryCarpentry/lc-shell#12

[2018-05-11 21:07] jcoliver commented on #82
Should be fixed by LibraryCarpentry/lc-shell#13.

[2018-05-14 03:40] #82 closed

[2018-06-01 14:39] #81 closed

[2018-06-01 14:39] #80 closed

[2018-06-01 14:39] #67 closed

[2018-06-01 14:39] #53 closed

[2018-06-01 14:40] #44 closed

[2018-06-01 14:40] #45 closed

[2018-06-01 14:41] #28 closed

[2018-06-01 14:41] #32 closed